* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 2fr 3fr 5fr;
}

.Articulo {
    background-color: red;
}

.Articulo-2 {
    background-color: blue;
}