*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tarjeta1{
    background-color: #ff6b6b;
    border: 2px solid black;
    padding: 15px;
    margin: 20px;
}

.tarjeta2{
    background-color: #ff6b6b;
    border: 2px solid aqua;
    padding: 15px;
    margin: 20px;
}

.tarjeta3{
    background-color: #ff6b6b;
    border: 2px solid yellow;
    padding: 15px;
    margin: 20px;
}